@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dots li button:before {
  color: white !important;
  opacity: 0.5;
}
.custom-dots li.slick-active button:before {
  color: white !important;
  opacity: 1;
  transform: scale(1.5);
}
.remove-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.remove-scrollbars::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}