@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dots li button:before {
  color: white !important;
  opacity: 0.5;
}
.custom-dots li.slick-active button:before {
  color: white !important;
  opacity: 1;
}
